body {
  margin: 0;
}

.digits {
  margin: 0 auto;
  text-align: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

#start{
  display: block;
  text-align: center;
  margin: 0 auto;
}